<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top" />
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - 100,253 </small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias ab tempore repellendus nihil nulla nesciunt consectetur explicabo possimus hic incidunt similique maiores iusto accusamus adipisci expedita mollitia, porro at!</p>

        <small class="bg-light text-warning text-center ml-3" >LAST UPDATED - SEP 20, 2021 </small>
    
        
    </div>
</div>